Flask==3.1.2
Flask_SocketIO==5.5.1
numpy==1.24.3
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
opencv_python==4.7.0.72
opencv_python_headless==4.10.0.84
ultralytics==8.3.213
ultralytics==8.3.214
